.usa-select {
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
  font-size: 1.06rem;
  line-height: 1.3;
}

.usa-select {
  border-radius: 0;
  color: #1b1b1b;
  display: block;
  margin-top: 0.5rem;
  max-width: 30rem;
  padding: 0.5rem;
}

.usa-select {
  height: 2.5rem;
}

.usa-select {
  border-width: 1px;
  border-color: #5c5c5c;
  border-style: solid;
  width: 100%;
}

.usa-select {
  border-width: 0.25rem;
  border-color: #00a91c;
  border-style: solid;
}

.usa-select {
  background-image: url(../img/usa-icons/unfold_more.svg),
    linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-position: right 0.5rem center;
  background-size: 1.25rem;
  padding-right: 2rem;
}

.usa-select::-ms-expand {
  display: none;
}

.usa-select:-webkit-autofill {
  -webkit-appearance: menulist;
  appearance: menulist;
}

.usa-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

@media (forced-colors: active) {
  .usa-select {
    -webkit-appearance: listbox;
    -moz-appearance: listbox;
    appearance: listbox;
    background-image: none;
    padding-right: 0;
  }
}
